.App {
  text-align: center;
  background-color: #EBEEF3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
}
.navup {
  padding-right: 30px;
  border-radius: 0px 0px 14px 14px;
  padding-left: 30px;
  height: 900;
  background-image: linear-gradient(to bottom right, #75030C, #CB202D,#CB202D);
  display: flex;
  color: #EBEEF3;
  justify-content: flex-start;
}
.mr-auto{
  padding-left: 800px;
  display: flex;
  padding-top: 5px;
}

.white{
  display: flex;
  margin-left: 30px;
  color: white;
}